.NewsWidget-Wrapper {
  border: 1px solid #5f5f6a62;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden; 
}



.NewsWidget-Wrapper h1 {
  text-align: center;
  cursor: pointer;
}

.news-widget {
  max-height: 300px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease-in-out;
}

.news-widget-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
