.NewsWidget-Wrapper{
    border: 1px solid blue;
    padding: 10px;
    border-radius: 8px;
}

.news-widget {
  max-height: 300px;
   overflow-y: auto; /* Enables vertical scrolling */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg,#1b3dff79, #ffffff77 50%, #ff1b1b8d);  margin: 20px 0;
}

.news-widget-content {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
}

.news-widget h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}