.NewsWidget-Wrapper {
  padding: 15px;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
background: #f9f9f9;
border: 1px solid rgba(215, 213, 213, 0.657);

border-radius: 10px;
}

.NewsWidget-Wrapper:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}
.news-widget {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  transition: max-height 0.3s ease-in-out;
}

.news-widget-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .NewsWidget-Wrapper {
    padding: 10px;
  }

  .news-widget {
    max-height: 250px;
  }
}

@media (max-width: 480px) {
  .NewsWidget-Wrapper {
    padding: 8px;
  }

  .news-widget {
    max-height: 200px;
  }
}
