.Topic{
  display: flex;
  align-items: center;
  justify-content: space-between;
      background-color: thistle;
    border-radius: 25px;
}
.Topic h3{
  padding: 0px; 
}


p {
    margin-bottom: 0px;
}

