.Topic{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
}
.Topic h3{
  /* padding: 5px 10px;  */
  margin: 0px 10px;
  font-size: 1.2rem;
}


p {
    margin-bottom: 0px;
}

