
.Topic {
display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.Topic h3{
  margin: 0px 10px;
}


p {
    margin-bottom: 0px;
}

.new-indicator {
  background-color: #ff0;
  color: #000;
  font-size: 0.8em;
  padding: 2px 6px;
  margin-left: 8px;
  border-radius: 10px;
}
