/* LandingPage.css */
.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 50px;
}


.LandingLogo {
  margin-bottom: 20px;
  width: 250px; /* Adjust the size of the logo as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.LandingLogo img {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  margin-top: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

}
