/* .App {
  height: 100%;
} */
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Exo', sans-serif;
  color: rgb(42, 42, 128);
}
body{
    background: linear-gradient(135deg, #ff1b1b, #ffffff 50%, #1b3fff);
  

}
@media only screen and (min-width: 992px){
  h1{
    font-size: 45px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 15px;
  }
}

/* font-family: 'Poppins', sans-serif; */
