.MessagingDashboard-Container {
  display: grid;
  max-height: 90vh;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: max-height 0.5s ease;
}

.MessagingDashboard-Container.collapsed {
  max-height: 50px; /* When collapsed */
}

.MessagingDashboard-Header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.MessagingDashboard-Header:hover {
  background-color: #0056b3;
}

.MessagingDashboard-Content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.ConversationsContainer {
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.ConversationsContainer:hover {
  background-color: #f1f1f1;
}

.MessagesContainer {
  padding: 20px;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.PlaceholderText {
  color: #888;
  text-align: center;
  margin-top: 20%;
  font-size: 1.2em;
  font-weight: 500;
}
