.Messages {
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
}

.MessageItem {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.LoadingIndicator {
  text-align: center;
  font-weight: bold;
  color: #007bff;
}

.MessageInput {
  display: flex;
  margin-top: 20px;
}

.MessageInput input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.MessageInput button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.MessageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.MessageModalContent {
  display: flex;
  flex-direction: column;
}

.CloseButton {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.ModalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.ModalButtons button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
