.MessagingDashboard-Container {
  max-height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: max-height 0.5s ease;
}

.MessagingDashboard-Container.collapsed {
  max-height: 50px; /* When collapsed */
}

.MessagingDashboard-Header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.MessagingDashboard-Header:hover {
  background-color: #0056b3;
}

.MessagingDashboard-Content {
  display: flex;
  flex-direction: row;
  max-height: calc(100% - 50px);
  overflow: hidden;
}

.ConversationsContainer {
  width: 30%;
  border-right: 1px solid #e0e0e0;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.ConversationsContainer:hover {
  background-color: #f1f1f1;
}

.MessagesContainer {
  width: 70%;
  padding: 10px;
  overflow-y: auto;
}

.PlaceholderText {
  color: #888;
  text-align: center;
  margin-top: 20%;
  font-size: 1.2em;
  font-weight: 500;
}

.MessageInput {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.MessageInput input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.MessageInput button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.MessageInput button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
