.MessagingDashboard-Container {
  display: flex;
  flex-direction: row;
  max-height: 90vh;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.ConversationsContainer {
  width: 30%;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.MessagesContainer {
  width: 70%;
  padding: 20px;
  overflow-y: auto;
}
.PlaceholderText {
  color: #888;
  text-align: center;
  margin-top: 50%;
  font-size: 1.2em;
}
