.saved-elections-container {
  margin-top: 20px;
}

.scrollable-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd; /* Adding a border for a visual separation */
  border-radius: 8px; /* Adding border radius for a rounded appearance */
  padding: 10px; /* Adding some padding for better spacing */
  background-color: #f9f9f9; /* Adding a light background color */
}

@media screen and (max-width: 600px) {
  .scrollable-container {
    max-height: none;
    overflow-y: visible;
  }
}
