/* ElectionRegistrationForm.css */

/* Default styles for larger screens */
.container {
  max-width: 600px;
  margin: 0 auto;
}

.election-form-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .election-form-container {
    padding: 10px;
  }
}
