* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',
    sans-serif;
}

.App_wrapper {
  align-items: center;
  width: 100%;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  height: 100%;

}



.App_formTitle_wrapper {
  background-color: rgb(55, 150, 68);
  width: 50%;
  float: left;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.App_form_wrapper {
  width: 50%;
  float: right;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media only screen and (max-width: 760px) {
  .App_wrapper {
    display: grid;
    justify-content: normal;
    height: 60px;
    width: 100%;
  }

  .App_formTitle_wrapper {
    width: 100%;
    height: 200px;
  }

  .App_form_wrapper {
    width: 100%;
    height: 100%;
    padding: 40px 0;
  }
}


@media only screen and (max-width: 600px) {
  .App_wrapper {
    display: grid;
    justify-content: normal;
    height: 60px;
    width: 100%;
  }

  .App_formTitle_wrapper {
    width: 100%;
    height: 200px;
    background-color: rgb(33, 33, 134);
    color: orange;
  }

  .App_form_wrapper {
    width: 100%;
    height: 100%;
    padding: 40px 0;
  }

  .form_field_wrappers {
    /* padding: 20px 0; */
  }

  button input {
    background-color: orange;
    color: rgb(33, 33, 134);

  }

  .button {
    background-color: orange;
    color: rgb(33, 33, 134);
    padding: 10px 30px;

  }

  button:hover {
    background-color: rgb(240, 177, 61);
    color: rgb(42, 42, 128);
  }
}