.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to ensure it's on top */
}

.ModalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  /* Any additional styling for the content */
}

.Dashboard-Content {
      display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-around;
}