.Company {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.CompanyDashboard-Container {
  box-sizing: border-box;
}

.CompanyDashboard-Left,
.CompanyDashboard-Center,
.CompanyDashboard-Right,
.CompanyDashboard-End {
  padding: 20px;
  align-items: center;
}

.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ModalContent {
  background-color: #cacb66;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
  box-sizing: border-box;
}

.CompanyDashboard-SavedElection {
  background-color: #76654e;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

.CompanyDashboard-PastElection {
  background-color: #e7cdab;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

.CompanyDashboard-Elections {
  background-color: #ffe7e6;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

.CompanyDashboard-Topic {
  background-color: thistle;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

.CompanyDashboard-Top {
  text-align: center;
  padding: 20px 10px;
  font-weight: bold;
}

.CompanyDashboard-Bottom-Section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .CompanyDashboard-Content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .CompanyDashboard-Left,
  .CompanyDashboard-Center,
  .CompanyDashboard-Right,
  .CompanyDashboard-End {
    width: 100%;
  }

  .CompanyDashboard-Container {
    padding: 50px 20px;
  }
}

@media (max-width: 768px) {
  .CompanyDashboard-Content {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .CompanyDashboard-SavedElection,
  .CompanyDashboard-PastElection,
  .CompanyDashboard-Elections,
  .CompanyDashboard-Topic {
    padding: 10px;
  }
}
