.Elections-Right {
  width: 100%;
}

.ElectionComponent h2{
  font-size: 20px;
  text-transform: capitalize;
}

.ElectionComponent> span{
      display: flex;
    justify-content: space-between;
    align-items: center;
}

.ElectionComponent-Date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}