.LocationInfo {
  background: linear-gradient(135deg, rgba(116, 235, 213, 0.8), rgba(172, 182, 229, 0.8));
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease;
}

.CurrentTime {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.Location {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.Date {
  font-size: 0.9rem;
  opacity: 0.9;
}

.WeatherInfo {
  background: linear-gradient(135deg, rgba(255, 175, 189, 0.8), rgba(255, 195, 160, 0.8));
  border-radius: 15px;
  padding: 20px;
  color: #333;
  text-align: center;
  transition: transform 0.3s ease;
}

.WeatherIcon {
  width: 100px; /* Slightly larger icon */
  height: 100px;
}

.Temperature {
  font-size: 2.5rem;
  margin: 10px 0;
  font-weight: bold;
}

.Description {
  font-size: 1.2rem;
  opacity: 0.9;
}

/* Hover effects */
.LocationInfo:hover,
.WeatherInfo:hover {
  transform: translateY(-5px);
}

/* Responsive design adjustments */
@media (max-width: 600px) {


  .WeatherIcon {
    width: 80px; /* Smaller icon for mobile */
    height: 80px;
  }

  .Temperature {
    font-size: 2rem; /* Adjusted temperature size */
  }

  .Description {
    font-size: 1rem; /* Adjusted description size */
  }
}
