.Admin-User-List {
  max-height: 400px;
    border: 1px solid #5f5f6a62;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 5px 0;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .Admin-User-List:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
} */

.Admin-User-List-Header {

  cursor: pointer;
}

.Admin-User-List-Container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.Admin-User-List-Container::-webkit-scrollbar {
  width: 5px;
}

.Admin-User-List-Container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .Admin-User-List {
    padding: 10px;
    margin: 8px 0;
  }

  .Admin-User-List-Header {
    font-size: 1.6rem;
  }
}
