.AdminProfile {
  border-radius: 12px;
  overflow: hidden;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* Responsive Design */
@media (max-width: 768px) {
  .AdminProfile {
    padding: 8px;
  }
}
