.TopicWidget-Wrapper{
  border: 1px solid  linear-gradient(135deg, #1b3dff79, #ffffff77 50%, #ff1b1b8d);
  padding: 10px;
  border-radius: 8px;

}

.TopicWidget {
  max-width: 100%;
  padding: 15px;
  background: linear-gradient(135deg, #1b3dff79, #ffffff77 50%, #ff1b1b8d);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin: 20px 0px;
}

.TopicWidget h2 {
  color: #333;
  margin-bottom: 15px;
}

.TopicsContainer {
  max-height: 300px; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

@media (max-width: 768px) {
  .TopicsContainer {
    max-height: 300px; 
  }
}


/* Responsive design for smaller devices */
@media (max-width: 768px) {
  .TopicsContainer {
    max-height: 300px; 
  }

  .TopicWidget {
    padding: 10px;
  }
}