.TopicWidget {
  max-width: 100%;
    padding: 15px;
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.TopicWidget h2 {
  color: #333;
  margin-bottom: 15px;
}

.TopicsContainer {
  max-height: 300px; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

/* Responsive design for smaller devices */
@media (max-width: 768px) {
  .TopicsContainer {
    max-height: 300px; /* Adjust for smaller screens */
  }
}

.Topic {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Responsive design for smaller devices */
@media (max-width: 768px) {
  .TopicsContainer {
    max-height: 300px; /* Adjust for smaller screens */
  }

  .TopicWidget {
    padding: 10px;
  }
}