.TopicWidget {
  max-width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #ff1b1b, #ffffff 50%, #1b3fff);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
}

.TopicWidget h2 {
  color: #333;
  margin-bottom: 15px;
}

.TopicsContainer {
  max-height: 300px; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

/* Responsive design for smaller devices */
@media (max-width: 768px) {
  .TopicsContainer {
    max-height: 300px; /* Adjust for smaller screens */
  }
}


/* Responsive design for smaller devices */
@media (max-width: 768px) {
  .TopicsContainer {
    max-height: 300px; /* Adjust for smaller screens */
  }

  .TopicWidget {
    padding: 10px;
  }
}