.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ModalContent {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto; /* Ensures content inside the modal scrolls instead of overflowing */
  transition: all 0.3s ease-in-out;
}

.ModalCloseButton {
  margin-top: 20px;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
  .ModalContent {
    padding: 20px;
    width: 100%;  /* Ensure the modal takes full width on smaller screens */
    max-width: 500px;
    max-height: 85vh; /* Reduce height to prevent overflow on smaller screens */
    overflow-y: auto; /* Ensure scrollability */
  }

  .ModalCloseButton {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .ModalContent {
    padding: 15px;
    width: 100%;
    max-width: 350px;
    max-height: 80vh; /* Ensure the modal doesn't overflow on very small screens */
    overflow-y: auto; /* Ensure scrollability */
  }

  .ModalCloseButton {
    padding: 6px 12px;
  }
}

