.elections-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
background-color: #f8f9fc;  border-radius: 10px;
  box-shadow:0px 4px 12px rgb(40 64 74 / 49%);
  margin: 15px 0;
}

.elections-count-box {
  display: flex;
  gap: 20px;
}

.elections-info {
  text-align: center;
}

.icon-container {
  display: inline-block;
}

.elections-icon {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 8px;
}

.current-icon {
  color: #28a745;
}

.total-icon {
  color: #007bff;
}

.current-elections,
.total-elections {
  font-size: 1.2rem;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}
