.elections-count-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.elections-count-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.elections-info {
  text-align: center;
}

.elections-icon {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 10px;
}

.current-elections,
.total-elections {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.error-message {
  color: red;
}
