.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.loginContainer {
  display: grid;
  gap: 20px;
  max-width: 450px;
  width: 100%;
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.errorMessage {
  color: #ff1b1b;
  text-align: center;
  font-weight: bold;
}

.signInLink {
  text-align: center;
}

.signInLink a {
  text-decoration: none;
  color: #1b3fff;
  font-weight: bold;
}

.signInLink a:hover {
  color: #ff1b1b;
}

@media only screen and (max-width: 768px) {
  .loginContainer {
    padding: 20px;
  }
}
