.AdminProfile {
  background: linear-gradient(135deg, #1b3dff79, #ffffff77 50%, #ff1b1b8d);
  border-radius: 8px;
  overflow: hidden; /* Ensure children don't overflow */
}

.AdminProfile h2 {
  /* Add styles for the heading if needed */
}

.AdminProfile-Wrapper {
  max-height: 300px;
  overflow-y: auto;
}

.AdminProfile-Wrapper::-webkit-scrollbar {
  width: 8px;
}

.AdminProfile-Wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.AdminProfile-Wrapper::-webkit-scrollbar-track {
  background-color: #eee;
}
