.Profile-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile{
      width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;

}
.Profile-Image {
  width: 150px;
       

}
.Profile img{
  width: 100%;
   /* border-radius: 50%; */
}

.Profile-Content{
    text-align: center;
    padding: 10px;

}

.Profile-Content h4{
  padding: 0px 0px;
  font-size: 20px;
}
.Profile-Content p{
  font-size: 17px;
}