.Profile{
      width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;

}
.Profile-Image {
  width: 150px;
       

}
.Profile img{
  width: 100%;
   border-radius: 50%;
}

.Profile-Content{

}

.Profile-Content h4{
  padding: 0px 0px;
  font-size: 20px;
}
.Profile-Content p{
  font-size: 17px;
}