.UserProfile{
      border: 1px solid blue;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0px;
}

.Profile-Wrapper {
  max-height: 300px; 
  overflow-y: auto; 
  flex-wrap: nowrap;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  gap: 10px; 
      background: linear-gradient(135deg,#1b3dff79, #ffffff77 50%, #ff1b1b8d);
      border-radius: 8px;

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media (max-width: 768px) {
  .Profile-Wrapper {
    max-height: 300px; /* Smaller height for mobile devices */
    flex-direction: column; 
  }
}